.localClass {
  color: #fff;
}

:global(.globalClass) {
  color: #fff;
}

:global {
  .anotherGlobalClass {
    color: #fff;
  }
  
  .thirdGlobalClass {
    color: #fff;
  }
}

.anotherLocalClass {
  color: #fff;
}

.unused-local {
  color: #fff;
} 
