.usedClass {
  color: #fff;
}

.usedClass2 {
  color: #fff;
}

.usedClass3 {
  color: #fff;
}

.usedClass4 {
  color: #fff;
}

.unusedClass {
  color: #fff;
}

.unusedClass2 {
  color: #fff;
}

.unusedClass3 {
  color: #fff;
}

.unusedClass4 {
  color: #fff;
}

.unusedClass5 {
  color: #fff;
}

.unusedClass6 {
  color: #fff;
}

.unusedClass7 {
  color: #fff;
}

.unusedClass8 {
  color: #fff;
}

.unusedClass9 {
  color: #fff;
}

.unusedClass10 {
  color: #fff;
}

.unusedClass11 {
  color: #fff;
}

.unusedClass12 {
  color: #fff;
}

.unusedClass13 {
  color: #fff;
}

.unusedClass14 {
  color: #fff;
}

.unusedClass15 {
  color: #fff;
}

.unusedClass16 {
  color: #fff;
}

.unusedClass17 {
  color: #fff;
}

.constNameAsClass {
  color: #fff;
}

.varNameAsClass {
  color: #fff;
}

.letNameAsClass {
  color: #fff;
}

.clearUnused {
  color: #fff;
}
